<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Module Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
  <fieldset>
    <legend>This is Module Routing</legend>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <ul class="nav navbar-nav">
                  <li><a routerLink="home" routerLinkActive="act">Home</a> &nbsp;</li>
                  <li><a routerLink="contact" routerLinkActive="act">About</a> &nbsp;</li>
             </ul>
          </div>
      </div>
  </nav>
   
   <router-outlet></router-outlet>

  </fieldset>


</body>
</html>