<!-- product-form.component.html -->
<div>
    <h2>Add Product</h2>
    <form [formGroup]="productForm" >
      <!-- <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" required> -->

      <label for="name">Product  id:</label>
      <input type="text" id="name" formControlName="productId" required>
      
      <!-- <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" formControlName="quantity" required> -->
      
      <!-- <label for="price">Price:</label>
      <input type="number" id="price" formControlName="price" required> -->
      
      <button class="btn btn-primary" type="submit" routerLink="/wishlist" (click)="onSubmit()">Add Product</button>
    </form>
  </div>
  