<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
 <fieldset>
  <legend>This is a Routing</legend>
  <!-- <nav>
    <ul>
      <li>
        <a routerLink="home" routerLinkActive="active">Home</a>  &nbsp;&nbsp;&nbsp;
        <a routerLink="about">About</a>  &nbsp;&nbsp;&nbsp;
        <a routerLink="angulartut">Angulartut</a>  &nbsp;&nbsp;&nbsp;

     </li>
    </ul>
  </nav> -->


  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLink="home" routerLinkActive="act">Home</a> &nbsp;</li>
                <li><a routerLink="about" routerLinkActive="act">About</a> &nbsp;</li>
                <li><a routerLink="angulartut" routerLinkActive="act">Angular Tutorials</a></li>
                <li><a routerLink="product" routerLinkActive="act">Product Tutorials</a></li>


            </ul>
        </div>
    </div>
</nav>
  <h1>This is Routing</h1>
  <router-outlet></router-outlet>
</fieldset>
</body>
</html>