<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>
<body>
  <header class="header"  *ngIf="!isLoginPageOrRegisterPage()">
    <div>
        <h1 class="app-name">MyKuka</h1>
        <nav>
            <ul class="left-nav">
                <li *ngFor="let category of categories">
                  <a (click)="selectCategory(category.id)">{{ category.name }}</a>
                </li>
              </ul>
              
        </nav>
    </div>
    <div class="search-container" style="margin-left: 45%;">
      <form (submit)="onSearch()" method="get">
        <input class="search expandright" id="searchright" type="search" name="q" placeholder="Search" [(ngModel)]="searchQuery">
        <label class="button searchbutton" for="searchright"><span class="mglass">&#9906;</span></label>
      </form>
    </div>

    
    <nav class="nav-links">
      <li><a routerLink="cart" routerLinkActive="act" class="cart1"><span id="nav1"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">

        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>

      </svg><span class="badge text-bg-secondary">{{items}}</span></span></a></li>

      <li><a routerLink="wishlist" routerLinkActive="act"><span id="nav1"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">

        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>

      </svg></span></a></li>

      <li class="dropdown">

        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span id="nav1"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">

          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>

          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>

        </svg></span></a>

       

        <ul class="dropdown-menu">
          <li class="non-clickable">{{ getUsername().toUpperCase()}}</li>
          <li><a routerLink="orders" routerLinkActive="act">Order History</a></li>
          <li><a routerLink ="login">Signout</a></li>
        </ul>

      </li>
    </nav>
</header>
  
 